body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#address-bar {
    flex: 1;
    margin-right: 10px;
}

#go-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#content {
    height: calc(80vh);
    width: 100%;
    border: none;
}